@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face { /*Google Fonts*/
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

p{
    text-align: justify;
    text-indent: 50px;
    line-height:  120%; /*Espaçamento entre linhas*/
}

a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    /*
    Hexa = #2389c3;
    RGB = rgb(35, 137, 195);
    RGBA = rgb(35, 137, 195, 0.5); (Transparencia)
    HSL = hsl(165, 81%, 93%);
    HSLA = hsla(165, 81%, 93%, 0.5); (Opacidade)
    */
    color: rgba(0, 0, 0, 1);
}

header#cabecalho img#icone{
    position: absolute;
    left: 65%;
    top: 78px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 160px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
    /*Para carregar imagens via CSS, podemos utilizar o modificador BACKGROUND usando a função URL para carregar o arquivo no fundo dos objetos. Utilizando o parâmetro NO-REPEAT para que ele não repita o objeto.*/
}

header#cabecalho h1{
    font-family: 'FonteLogo';
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #808080;
    padding: 0px;
    margin-top: 0px;
}

div#interface{
    width: 1000px;
    background-color: #ffffff;
    margin-top: -20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.8);
    padding: 10px;
}

/*Formatação de imagens
    Existem dois tipos de posicionamento para CSS: com o POSITION RELATIVE, ele terá a localização feita em relação à sua posição atual. Para POSITION ABSOLUTE, ele terá a localização feita em relação a todo o conteúdo.
*/
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
}

figure.foto-legenda img{
    width: 100%; height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%; height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Formatação do Menu */
nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute; /*Passar em cima dos objetos*/
    top: -20px;
    left: 43%;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
}

/*Configuração do corpo do site*/

section#corpo{
    display: block;
    width: 50%;
    float: left;/*flutuar um do lado do outro -- sempre em block*/
    border-right: 1px solid #606060;
    padding-right: 15px;
}

article#noticia-main h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}  

.dir{
    text-align: right;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}

table#tabela1{
    border: 1px solid #606060;
    border-spacing: 0px; /*Remover espaço entre os itens da tabela*/
    margin-left: auto;
    margin-right: auto;
}

table#tabela1 td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: center;
}

table#tabela1 td.col-esq{
    color: #ffffff;
    background-color: #808080;
    text-align: right;
}

table#tabela1 td.col-dir{
    background-color: #cecece;
}

table#tabela1 caption{
    color: #808080;
    font-size: 13pt;
    font-weight: bold;
}

table#tabela1 caption span{
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral{
    display: block;
    width: 45%;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#lateral h1{
    font-family: 'FonteLogo';
    font-size: 20pt;
    color: #606060;
    margin-top: 5px;
}

aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: white;
    padding: 5px;
}

footer#rodape{
    clear: both;/*Limpar as configurações dos lados*/
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}

/* Videos */

video#filme01{
    width: 500px;
}

video#filme02{
    width: 450px;
}

/* About */

textarea{
    margin-left: 5%;
    margin-top: 1%;
}