@charset "UTF-8";

ul#album{
    width: 700px;
    margin: 0 auto;
    padding: 8%;
    overflow: hidden;
    list-style: none;
}

ul#album li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

ul#album li:hover{
    /*Efeito de Zoom na imagem*/
    transform: scale(1.5);
    transition: all 0.4s ease-in; 
    /*
    Delay na animação
    Ease-in = efeito de "crescer"
    */
}

ul#album li span{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px; /*colocar a legenda na parte inferior*/
    padding: 5px;
}

ul#album li:hover span{
    opacity: 1;
}

ul#album li#foto01{
    background: url('../_imagens/galeria-01.jpg');
    background-position: 50% 50%;
    /*Mudar posicionamento da imagem -- mostrar a partir do meio*/
    background-size: 400px 400px;
    background-color: white;
}

ul#album li#foto02{
    background: url('../_imagens/galeria-02.jpg');
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album li#foto02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#foto03{
    background: url('../_imagens/galeria-03.jpg');
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album li#foto03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#foto04{
    background: url('../_imagens/galeria-04.jpg');
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album li#foto04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#foto05{
    background: url('../_imagens/galeria-05.jpg');
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album li#foto05:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#foto06{
    background: url('../_imagens/galeria-06.jpg');
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album li#foto06:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}